@import "reset.css";

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: #7D5F4E;
}

.backstory__title {
    font-size: 35px;
    font-family: Montserrat;
    color: #FFF;
    padding-top: 59px;
    padding-bottom: 55px;

}

.backstory__title-h1 {
    text-align: center;
}

.backstory__book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img {
    width: 1083px;
    position: absolute;
}

.backstory__book-leftPage {
    position: relative;
    left: 9px;
}

.backstory__book-rightPage {
    position: relative;
    right: 8px;
}

.backstory__book-pages {
    display: flex;
    flex-direction: row;
}
.backstory__leftPage-info {
    position: relative;
}