@import "reset.css";

@font-face {
    font-family: PP Writer;
    src: url("../fonts/PPWriter-Regular.otf");
}

@font-face {
    font-family: PP WriterBold;
    src: url("../fonts/PPWriter-Bold.otf");
}

@font-face {
    font-family: DiplomaScriptRus;
    src: url("../fonts/Diploma Script Basic RUS.otf");
}

@font-face {
    font-family: MontserratNew;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    background-color: #79543F;
    color: #2F1301;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PP Writer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px 30px;
    /*padding: 36px 90px 60px; для ПК*/
}

.game-lives {
    display: flex;
    column-gap: 31px;
}

.play-again {
    width: 185px;
    height: 30px;
    background-image: url("../img/play-again-img.png");
    transition: .75s;
}

.play-again:hover {
    transition: .75s;
    background-image: url("../img/play-again-hover.png");
}

.play-again-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
    padding-top: 39px;
}

.play-again-p {
    color: #2F1301;
    text-align: justify;
    font-family: PP Writer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 72px;
    text-indent: 25px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, transform 0.25s;
}

.modal-lives-over {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 33%;
    left: 33%;
    padding: 1rem 1.5rem;
    width: 526px;
    height: 273px;
    border-radius: 10px;
    background: #FBEDDC url("../img/play-again-decor.png") no-repeat;
    background-position-x: 8px;
    background-position-y: 6px;
}

.modal-content-lives-over {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 526px;
    height: 345px;
    border-radius: 10px;
    background-color: #FBEDDC;
}

.play-again-text-lives-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

.play-again-submit-lives-over {
    display: flex;
    column-gap: 32px;
    position: absolute;
    bottom: 30px;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.close-button-lives-over {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button-lives-over:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 15;
}

.play-again-submit {
    display: flex;
    column-gap: 32px;
}

.play-again-no {
    position: relative;
}

.play-again-no-lives-over {
    position: relative;
}

.play-again-no-p {
    position: absolute;
    top: 0;
    left: 27px;
    color: rgba(47, 19, 1, 0.70);
    text-align: justify;
    font-family: PP Writer;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
}

.play-again-yes {
    position: relative;
}

.play-again-yes-lives-over {
    position: relative;
}

.play-again-yes-p {
    position: absolute;
    top: 0;
    left: 27px;
    color: rgba(47, 19, 1, 0.70);
    text-align: justify;
    font-family: PP Writer;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
}

.play-again-no:hover {
    .play-again-no-decor {
        background-image: url("../img/play-again-no-decor-hover.png");
    }
    .play-again-no-p {
        color: #2F1301;
    }
}

.play-again-yes:hover {
    .play-again-yes-decor {
        background-image: url("../img/play-again-yes-decor-hover.png");
    }
    .play-again-yes-p {
        color: #2F1301;
    }
}

.cover-background {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 460px;
    height: 585px;
    visibility: visible;
    z-index: -2;
    /*height: 685px; для ПК*/
}

.book-background {
    position: absolute;
    z-index: -2;
    top: -15px;
    right: -40px;
    visibility: hidden;
    /*для ноута*/
    min-width: 996px;
    max-height: 610px;
}

.dictionary-tab {
    position: absolute;
    visibility: hidden;
    top: 50px;
    left: 460px;
    z-index: 0;
    background-image: url("../img/dictionary-tab-hidden.png");
    background-repeat: no-repeat;
    width: 71px;
    height: 30px;
    transition: 1s;
    filter: drop-shadow(-8px 5px 4px rgba(0, 0, 0, 0.25));
}

.dictionary-tab:hover {
    background-image: url("../img/dictionary-tab.png") !important;
    background-repeat: no-repeat !important;
    right: 140px !important;
    width: 118px !important;
    height: 30px !important;
    filter: drop-shadow(-8px 5px 4px rgba(0, 0, 0, 0.25));
}

.personality-tab {
    position: absolute;
    visibility: hidden;
    top: 110px;
    left: 460px;
    z-index: 0;
    background-image: url("../img/personality-tab-hidden.png");
    background-repeat: no-repeat;
    width: 71px;
    height: 30px;
    transition: 1s;
    filter: drop-shadow(-8px 5px 4px rgba(0, 0, 0, 0.25));
}

.personality-tab:hover {
    background-image: url("../img/personality-tab.png") !important;
    background-repeat: no-repeat !important;
    right: 140px !important;
    width: 118px !important;
    height: 30px !important;
    filter: drop-shadow(-8px 5px 4px rgba(0, 0, 0, 0.25));
}

.personality-page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.personality-title-img {
    padding-bottom: 15px;
}

.personality-p1 {
    text-align: justify;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 23.25px */
    letter-spacing: -0.341px;
    width: 382px;
    padding-bottom: 25px;
}


.personality-page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 382px;
}

.personality-p2 {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    padding-bottom: 25px;
    width: 382px;
}

/* Button */
/*button {*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    margin: 10px;*/
/*    cursor: pointer;*/
/*    transition: transform 0.5s;*/
/*}*/

/*button:focus {*/
/*    outline: none;*/
/*}*/

/*button:hover i {*/
/*    color: rgb(102, 102, 102);*/
/*}*/

.dictionary-word {
    position: relative;
    transition: .75s;
}

.personality-word {
    position: relative;
    color: rgba(47, 19, 1, 0.60);
}

.dictionary-word-popup {
    visibility: hidden;
    position: absolute;
    top: -60px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background: rgba(52, 22, 3, 0.98);
    width: 360px;
    height: 63px;
    padding-left: 12px;
    padding-right: 12px;
    column-gap: 6px;
}


.sources-word-popup {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background: #885E45;
    width: 369px;
    height: 160px;
    padding-left: 6px;
    padding-right: 6px;
    column-gap: 11px;
}

.personality-word:hover {
    .sources-word-popup {
        visibility: unset;
    }
}

.personality-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.source-word {
    color: #FBECDB;
    font-family: PP Writer;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
}

.personality-short-text {
    color: #FBECDB;
    font-family: PP Writer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.308px;
}
.dictionary-bogemiya {
    left: -20px;
    height: 120px;
}

.dictionary-gekzametr {
    left: -140px;
    top: 21px;
    height: 100px;
}

.dictionary-kancler {
    top: -190px;
    left: -200px;
    height: 180px;
}

.dictionary-muza {
    left: -15px;
    height: 150px;
}

.dictionary-tristiya {
    left: -200px;
    width: 400px;
}

.dictionary-feb {
    left: -10px;
}

.dictionary-fortuna {
    left:-240px;
}

.dictionary-chuma {
    height: 130px;
    left: -16px;
}

.dictionary-epitafiya {
    left: -5px;
    top: -180px;
    height: 180px;
}

.dictionary-femida {
    height: 180px;
    left: -50px;
    top: -179px;
}

.personality-Kelly {
    left: -150px;
    height: 110px;
}

.personality-Rudolf {
    top: unset;
    bottom: 30px;
    left: -270px;
}

.personality-Yakov {
    left: -200px;
}

.personality-Steven {

}

.personality-Baldhoven {
    height: 120px;
}

.personality-Leo {
    height: 100px;
    top: 30px;
}

.word-epitafiya2 {
    top: -60px;
    left: -270px;
}

.word-muza {
    top: unset;
    bottom: -70px;
    left: -30px;
}

.word-bogemiya {
    top: unset;
    bottom: -68px;
    left: -30px;
}

.word-Kelly {
    top: -70px;
    height: 70px;
}

.word-Femida {
    top: -70px;
    height: 70px;
    left: -10px;
}

.word-Rudolf {
    top: unset;
    left: -210px;
    height: 110px;
    bottom: -110px;
}

.word-Kelly2 {
    left: -170px;
}

.word-Barvits {
    top: unset;
    height: 70px;
    left: 0;
    bottom: -75px;
}

.word-Lezie {
    left: -30px;
    top: 30px;
}

.word-Yakov {
    top: unset;
    height: 70px;
    left: -100px;
}

.word-chuma {
    top: -70px;
    left: -220px;
}

.word-Pheba {
    top: unset;
    left: -220px;
}

.word-lezie {
    top: unset;
    height: 80px;
    left: -150px;
}

.word-Rudolf2 {
    top: unset;
    height: 110px;
    left: -35px;
}

.word-Kelly3 {
    left: -130px;
}

.word-Rudolf3 {
    top: unset;
    height: 110px;
    left: 10px;
}

.word-fortune {
    width: 200px;
}

.word-Rudolf4 {
    top: -110px;
    height: 110px;
}

.word-Baldhoven {
    top: unset;
    height: 100px;
}

.word-gekzametr {
    top: -65px;
    left: -270px;
}

.word-Baldhoven2 {
    top: -100px;
    height: 100px;
}

.word-Baldhoven3 {
    top: -100px;
    height: 100px;
}

.dictionary-word:hover {
    color: #B67951;

    .dictionary-word-popup {
        visibility: unset;
    }
}

.dictionary-short-text {
    color: #FBECDB;
    text-align: justify;
    font-family: PP Writer;
    font-size: 14px;
    font-style: normal;
    font-weight: 340;
    line-height: 150%; /* 21px */
    letter-spacing: -0.308px;
}

.choice-btn:hover {
    width: 100%;
    fill: linear-gradient(89deg, #E0BF8F -1.79%, #F2D6B7 14.25%, #FBEEDE 50.06%, #F7E3CA 100.85%);
    box-shadow: 0px 4px 27.6px 0px rgba(104, 47, 15, 0.25) inset;
}

i {
    font-size: 4em;
}

.prev-btn {
    margin-right: 140px;
    visibility: hidden;
    cursor: pointer;
}

.next-btn {
    margin-left: 140px;
    cursor: pointer;
}

.next-btn-warning {
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.next-btn-warning::before {
    content: '';
    position: absolute;
    border: 1px solid #F2D6B7;
    top: -20px;
    right: -183px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 0;
    animation: pulse 2.5s linear infinite;
}

.next-btn-warning::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

/* Book */
.book {
    width: 460px;
    height: 585px;
     /*height: 685px;  для ПК */
    position: relative;
    transition: transform 0.5s;
    visibility: hidden;
}

.cover {
    visibility: visible;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.cover {
    width: 100%;
    height: 100%;
}

.front {
    backface-visibility: hidden;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    transition: transform 0.5s;
    background-image: url("../img/page-decor-mid.png"), linear-gradient(89deg, #E0BF8F -1.75%, #F2D6B7 13.97%, #FBEEDE 49.08%, #F7E3CA 98.85%);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 10px;
}

/*.front {*/
/*    background-image: url("../img/right page-img.png");*/
/*}*/

/*.back {*/
/*    background-image: url("../img/left page-img.png");*/
/*}*/

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
}

.back-content {
    transform: rotateY(180deg);
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Paper Z-index */
#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4 {
    z-index: 4;
}

#p5 {
    z-index: 3;
}

#p6 {
    z-index: 2;
}

#p7 {
    z-index: 1;
}
/* Customization */

.book-title {
    font-size: 3em;
    text-align: center;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}

#b1 p {
    margin-bottom: 0;
}

/* Словарь */

.dictionary-p1 {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 340;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 382px;
    padding-bottom: 18px;
}

.dictionary-p2 {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 340;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    padding-bottom: 18px;

}

.dictionary-page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dictionary-page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 382px;
}

.dictionary-title-img {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Страницы */
.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page1-title {
    padding-top: 100px;
    padding-bottom: 35px;
}

.page1-text {
    width: 392px;
    height: 134px;
    flex-shrink: 0;
    text-align: justify;
    font-size: 16px;
    text-indent: 25px;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
}

.page2 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page2-img {
    width: 380px;
    height: 530px;
}

.page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.page3-img {
    width: 380px;
    height: 239px;
}


.page4-p {
    width: 390px;
    height: 168px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
}

.page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page4-img {
    width: 380px;
    height: 240px;
    padding-bottom: 10px;
}

.page5 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page5-img {
    width: 380px;
    height: 530px;
}

.page6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page6-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 168px;
    text-indent: 25px;
}

.page7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page7-title {
    padding-bottom: 9px;
}

.page7-img {
    padding-bottom: 40px;
}

.page8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page9-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page9-text-yakov {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 357px;
    height: 120px;
    padding-top: 18px;
}

.page10-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page10-yakov-button {
    padding-bottom: 20px;
    padding-top: 20px;
}

.page10-yakov-p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.8px;
    width: 345px;
    height: 63px;
    position: absolute;
    bottom: 60%;
    left: 12%;
}

.page10-yakov-u {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.8px;
    position: relative;
    bottom: 16.1%;
    left: 6.5%;
}

.page11-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
}

.page11-yakov-img {
    width: 390px;
    height: 530px;
}

.page9-sudba {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page9-sudba-img {
    width: 380px;
    height: 530px;
}

.page10-sudba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page1-sudba-choice1-div {
    position: relative;
}

.page10-sudba-choice2 {
    width: 418px;
    height: 276px;
    position: relative;
}

.page10-sudba-p {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    /*text-indent: 25px;*/
    width: 345px;
    height: 63px;
    position: absolute;
    bottom: 13%;
    left: 9%;
}

.page10-sudba-u {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    /*text-indent: 25px;*/
    width: 345px;
    height: 63px;
    position: absolute;
    bottom: -2%;
    left: 59%;
}

.page11-sudba-choice1 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page11-sudba-choice1-img {
    width: 380px;
    height: 530px;
}

.page11-sudba-choice2 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page11-sudba-choice2-img {
    width: 380px;
    height: 530px;
}


.page12-sudba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding-bottom: 60px;
}

.page12-sudba-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    height: 48px;
    width: 357px;
}

.again {
    width: 228px;
    height: 30px;
    background-image: url("../img/try-again.png");
    transition: .75s;
}

.again:hover {
    background-image: url("../img/try-again-hover.png");
}

.verse-answers-full {
    position: relative;
}

.verse-answers-full:hover {
    .again-btn-decor {
        transition: .75s;
        background-image: url("../img/again-btn-decor-hover.png");
    }

    .again-btn-text {
        transition: .75s;
        color: #B67951;
        text-shadow: none;
    }

    .verse-answers {
        transition: .75s;
        color: #B67951;
        text-shadow: none;
    }

    .again-btn-text2 {
        transition: .75s;
        color: #B67951;
        text-shadow: none;
    }
}

.verse-answers {
    transition: .75s;
}

.again-btn-decor {
    transition: .75s;
}

.again-btn-text {
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
    position: absolute;
    top: 0;
    left: 12%;
    transition: .75s;
}


.page12-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page12-yakov-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 96px;
    text-indent: 25px;
}

.page9-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page9-rudolf-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 120px;
    padding-top: 16px;
    text-indent: 25px;
}
.page10-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page11-rudolf-choice1-p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 391px;
    height: 216px;
}

.page11-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page12-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page11-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page11-rudolf-choice2-img {
    width: 390px;
    height: 239px;
}

.page11-rudolf-choice2-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    padding-top: 16px;
    width: 357px;
    height: 48px;
}

.page12-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding-bottom: 40px;
}

.page12-rudolf-choice2-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 72px;
    text-indent: 25px;
}

.page13-rudolf-choice2 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page13-rudolf-choice2-img {
    width: 390px;
    height: 530px;
}

.page13-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page13-rudolf-choice1-p {
    width: 391px;
    height: 120px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    padding-top: 10px;
}
.page14-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 85px;
}

.page14-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page14-rudolf-choice2-p {
    height: 72px;
    width: 357px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
}

.page15-rudolf-false {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page15-rudolf-false-img {
    width: 390px;
    height: 530px;
}

.page15-rudolf-true {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page15-rudolf-true-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 15px;
    padding-top: 10px;
    width: 391px;
    height: 96px;
}

.page16-rudolf-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page16-life {
    padding-top: 70px;
    padding-bottom: 20px;
}

.page16-rudolf-false {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page16-rudolf-false-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 15px;
    width: 357px;
    height: 120px;
}

.page17-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page17-rudolf-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    padding-top: 10px;
    width: 391px;
    height: 96px;
    text-indent: 25px;
}
.page18-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page18-rudolf-p {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    width: 356px;
    height: 84px;
    position: absolute;
    bottom: 54%;
}

.page18-rudolf-u {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
}
.page18-rudolf-div {
    position: absolute;
    bottom: 54%;
    left: 19%;
}

.page19-rudolf-choice2 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page19-rudolf-choice2-img {
    width: 390px;
    height: 530px;
}

.choice-btn-new {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page18-rudolf-choice1 {
    position: relative;
}

.page19-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page19-rudolf-choice1-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 391px;
    height: 72px;
    text-indent: 25px;
    padding-top: 10px;
}

.page20-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page20-rudolf-choice1-p {
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    width: 356px;
    height: 42px;
    bottom: 17%;
    left: 8%;
}

.page20-rudolf-choice1-u {
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    bottom: 17%;
    left: 56%;
}

.page20-rudolf-choice1-div {
    position: relative;
}

.page20-rudolf-choice2-p {
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    width: 345px;
    height: 63px;
    bottom: 4%;
    left: 9%;
}

.page20-rudolf-choice2-u {
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    bottom: 13%;
    left: 7%;
}

.page20-rudolf-choice2-div {
    position: relative;
}

.page20-rudolf-gameover-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 357px;
    height: 96px;
}
.page20-rudolf-gameover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
.page21-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page21-rudolf-choice1-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 391px;
    height: 72px;
    text-indent: 25px;
    padding-top: 10px;
}

.page21-rudolf-choice2 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
}

.page21-rudolf-choice2-img {
    width: 390px;
    height: 530px;
}
.page22-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
}
.page22-rudolf-choice1-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 377px;
    height: 72px;
}

.again-btn-text2 {
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
    position: absolute;
    top: 0;
    left: 15%;
    transition: .75s;
}
.page22-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.page22-rudolf-choice2-p {
    width: 357px;
    height: 96px;
    text-indent: 25px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
}

.rudolf-verse {
    width: 430px;
    height: 150px;
    font-family: DiplomaScriptRus;
    color: #2F1301;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
    letter-spacing: -0.572px;
}

.rudolf-verse-answers {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.answers-title {
    color: #2F1301;
    font-family: DiplomaScriptRus;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.5%;
    letter-spacing: -0.396px;
}

.verse-answers {
    color: #2F1301;
    font-family: DiplomaScriptRus;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 81%;
    letter-spacing: -0.66px;
}

.verse-answer1 {
    position: absolute;
    top: 3px;
    left: 28px;
}

.verse-answer2 {
    position: absolute;
    top: 3px;
    left: 35px;
}

.verse-answer3 {
    position: absolute;
    top: 3px;
    left: 30px;
}

.comics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numeration {
    font-family: MontserratNew;
    position: absolute;
    bottom: 11px;
}