@import "reset.css";

@font-face {
    font-family: PP Writer;
    src: url("../fonts/PPWriter-Regular.otf");
}

@font-face {
    font-family: PP WriterBold;
    src: url("../fonts/PPWriter-Bold.otf");
}

body {
    background-color: #79543F;
    color: #2F1301;;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PP Writer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 90px 60px;
}

.game-lives {
    display: flex;
    column-gap: 31px;
}

.cover-background {
    position: absolute;
    top: 204px;
    left: 495px;
    width: 460px;
    height: 685px;
}

.book-background {
    position: absolute;
    z-index: -2;
    top: 200px;
    left: 220px;
    visibility: hidden;
}

.dictionary-tab {
    position: absolute;
    visibility: hidden;
    top: 270px;
    right: 195px;
    z-index: 0;
    background-image: url("../img/dictionary-tab-hidden.png");
    background-repeat: no-repeat;
    width: 71px;
    height: 30px;
    transition: 1s;
}

.dictionary-tab:hover {
    background-image: url("../img/dictionary-tab.png");
    background-repeat: no-repeat;
    right: 140px;
    width: 118px;
    height: 30px;
}


/* Button */
/*button {*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    margin: 10px;*/
/*    cursor: pointer;*/
/*    transition: transform 0.5s;*/
/*}*/

/*button:focus {*/
/*    outline: none;*/
/*}*/

/*button:hover i {*/
/*    color: rgb(102, 102, 102);*/
/*}*/

.choice-btn:hover {
    width: 100%;
    fill: linear-gradient(89deg, #E0BF8F -1.79%, #F2D6B7 14.25%, #FBEEDE 50.06%, #F7E3CA 100.85%);
    box-shadow: 0px 4px 27.6px 0px rgba(104, 47, 15, 0.25) inset;
}

i {
    font-size: 4em;
}

.prev-btn {
    padding-right: 140px;
    visibility: hidden;
}

.next-btn {
    padding-left: 140px;
}

/* Book */
.book {
    width: 460px;
    height: 685px;
    position: relative;
    transition: transform 0.5s;
    visibility: hidden;
}

.cover {
    visibility: visible;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.cover {
    width: 100%;
    height: 100%;
}

/*.cover {*/
/*    backface-visibility: hidden;*/
/*    border-left: 3px solid #dac400;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: white;*/
/*    transform-origin: left;*/
/*    transition: transform 0.5s;*/
/*    z-index: 1;*/
/*    flex-direction: column;*/
/*}*/

.front {
    backface-visibility: hidden;
    border-left: 3px solid #E0BF8F;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    transition: transform 0.5s;
    background-color: #F2D6B7;
}

/*.front {*/
/*    background-image: url("../img/right page-img.png");*/
/*}*/

/*.back {*/
/*    background-image: url("../img/left page-img.png");*/
/*}*/

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4 {
    z-index: 4;
}

#p5 {
    z-index: 3;
}

#p6 {
    z-index: 2;
}

#p7 {
    z-index: 1;
}
/* Customization */

.book-title {
    font-size: 3em;
    text-align: center;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}

#b1 p {
    margin-bottom: 0;
}

/* Словарь */

.dictionary-p1 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 340;
    line-height: 150%;
    letter-spacing: -0.396px;
    width: 375px;
    height: 189px;
    text-align: justify;
}

.dictionary-p2 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 340;
    line-height: 150%;
    letter-spacing: -0.396px;
    width: 402px;
    height: 297px;
    text-align: justify;
    padding-top: 203px;
}

.dictionary-page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dictionary-page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold-text {
    font-family: "PP WriterBold";
}

.dictionary-title-img {
    padding-top: 115px;
    padding-bottom: 28px;
}
/* Страницы */
.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page1-title {
    padding-top: 169px;
    padding-bottom: 35px;
}

.page1-text {
    width: 392px;
    height: 134px;
    flex-shrink: 0;
    text-align: justify;
    font-size: 16px;
    text-indent: 25px;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
}

.page2 {
    display: flex;
    align-items: center;
}

.backstory-photo {
    width: 470px;
    height: 304px;
    flex-shrink: 0;
    padding-left: 35px;
}

.page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page3-title {
    padding-top: 163px;
    padding-bottom: 9px;

}

.page3-p {
    width: 390px;
    height: 168px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
}

.page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page4-img {
    width: 393px;
    height: 239px;
    padding-bottom: 25px;
}

.page5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page5-img {
    width: 470px;
    height: 304px;
}

.page6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page6-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 168px;
    text-indent: 25px;
}

.page7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page7-title {
    padding-bottom: 9px;
}

.page8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page9-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page9-text-yakov {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 357px;
    height: 120px;
    padding-top: 18px;
}

.page10-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.page10-sudba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page10-sudba-choice2 {
    width: 418px;
    height: 276px;
    position: relative;
}
.page10-sudba-p {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    /*text-indent: 25px;*/
    width: 345px;
    height: 63px;
    position: absolute;
    bottom: 11%;
}

.page12-sudba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page12-sudba-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    height: 48px;
    width: 357px;
}

.again {
    position: relative;
}

.again:hover {
    .again-btn-decor {
        transition: 0.5s;
        background-image: url("../img/again-btn-decor-hover.png");
    }

    .again-btn-text {
        transition: 0.5s;
        color: #B67951;
        text-shadow: none;
    }

    .again-btn-text2 {
        transition: 0.5s;
        color: #B67951;
        text-shadow: none;
    }
}

.again-btn-text {
    text-align: justify;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
    position: absolute;
    top: 0;
    left: 12%;
}


.page12-yakov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page12-yakov-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 96px;
}

.page9-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page9-rudolf-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 120px;
    padding-top: 16px;
    text-indent: 25px;
}
.page10-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page11-rudolf-choice1-p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 391px;
    height: 216px;
}

.page11-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page12-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page11-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page11-rudolf-choice2-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    padding-top: 16px;
    width: 357px;
    height: 48px;
}

.page12-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page12-rudolf-choice2-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 357px;
    height: 72px;
}

.page13-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page13-rudolf-choice1-p {
    width: 391px;
    height: 120px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    padding-top: 10px;
}
.page14-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 115px;
}

.page14-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page14-rudolf-choice2-p {
    height: 72px;
    width: 357px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
}

.page15-rudolf-true {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page15-rudolf-true-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 15px;
    padding-top: 10px;
    width: 391px;
    height: 96px;
}

.page16-rudolf-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page16-life {
    padding-top: 70px;
    padding-bottom: 20px;
}

.page16-rudolf-false {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.page16-rudolf-false-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 15px;
    width: 357px;
    height: 120px;
}

.page17-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page17-rudolf-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    padding-top: 10px;
    width: 391px;
    height: 96px;
}
.page18-rudolf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page18-rudolf-p {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    width: 356px;
    height: 84px;
    position: absolute;
    bottom: 57%;
}

.page18-rudolf-choice1 {
    position: relative;
}

.page19-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page19-rudolf-choice1-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 391px;
    height: 72px;
    text-indent: 25px;
    padding-top: 10px;
}

.page20-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page20-rudolf-choice1-p {
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    width: 356px;
    height: 42px;
    bottom: 15%;
    left: 8%;
}

.page20-rudolf-choice1-div {
    position: relative;
}

.page20-rudolf-choice2-p {
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    width: 345px;
    height: 63px;
    bottom: 10%;
    left: 9%;
}

.page20-rudolf-choice2-div {
    position: relative;
}

.page20-rudolf-gameover-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 357px;
    height: 96px;
}
.page20-rudolf-gameover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
.page21-rudolf-choice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page21-rudolf-choice1-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    width: 391px;
    height: 72px;
    text-indent: 25px;
    padding-top: 10px;
}
.page22-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
}
.page22-rudolf-choice1-p {
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
    text-indent: 25px;
    width: 377px;
    height: 72px;
}

.again-btn-text2 {
    text-align: justify;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
    position: absolute;
    top: 0;
    left: 15%;
}
.page22-rudolf-choice2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.page22-rudolf-choice2-p {
    width: 357px;
    height: 96px;
    text-indent: 25px;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.352px;
}